*
{
   font-size: 1em;
}

html, body
{
    margin: 0;
    padding: 0;
}

header
{background-color: hsl(238, 35%, 62%);
padding-bottom: 1px;}

footer
{
    font-style: normal;
    text-align: center;
    color: white;
    background-color: hsl(238, 35%, 62%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 120%;
}
address
{font-style: normal;}

a
{color: white;}

.city
{text-align: left;}

#conteneur1
{display: flex;
width: 800px;
margin: auto;}

.photocv
{
    border-radius: 100%;
    height: 150px;
    margin: 20px;
}

h1
{
    font-family: Georgia, Impact, "sans-serif";
    font-size: 1.5em;
    text-align: center;
    color: white;
    margin:auto;
}
h1 span
{display: block;}
.name
{border: 5px white solid;
max-width: 540px;
margin: auto;
padding:20px}
.poste
{background-color: hsl(238, 3%, 46%);
box-shadow: 6px 6px 6px black;
max-width: 450px;
margin-left: auto;
margin-right: auto;
margin-top: -20px;
padding:20px;}

#conteneur2 
{display: flex;
flex-direction: row-reverse;
justify-content:flex-end;}

h2
{
    font-family: Georgia, Impact, "sans-serif";
    font-size: 1.3em;
    max-width: 400px;
    padding: 5px;
}

.formationsExperiences
{width: 60%;}
.formations,.experiences
{background-color: hsl(238, 3%, 46%);
color: white;
box-shadow: 3px 3px 3px black;
text-align: center;
margin: auto;
margin-top: 30px;
margin-bottom: 20px;}
#formationsInter, #expInter 
{width: 400px;
margin: auto;}
#expInter 
{margin-bottom: 30px;}
.periode, .diplome
{font-weight: bold;}
.periode
{margin-right: 20px;}

.bleuclaire
{background-color: hsla(195,7%,91%,1);
width: 40%}
.competences
{background-color: hsl(238, 35%, 62%);
box-shadow: 3px 3px 3px black;
color: white;
text-align: center;
margin: auto;
margin-top: 30px;
margin-bottom: 24px 50px;
max-width: 200px;}
#competencesInter
{width: 300px;
margin: auto;}
#ulrelationel
{margin-bottom: 0px;}
#bureautiqueLangues
{display: flex;}

dt, dd
{display: inline-block;}
dt
{vertical-align: top;
width: 100px;
margin: 8px 0px;}
dd
{margin: 8px 0px;
width: 275px;}


/* reparation */
.ulBureautique >li, .ulLangues >li
{
  list-style: none;
  margin: 0;
    max-width: 105px;}
.logiciel, .langue, .niveau
{
  display: inline-block;
  vertical-align: top;
}
.logiciel, .langue
{width: 75px;}
.niveau
{
    max-width: 24px;
}
.ulBureautique, .ulLangues
{
    padding: 0
}
/*reparation*/


h3
{
    font-size: 1,1em;
    font-weight: bold;
    width: 112px;
    margin-right: 10px;
    padding-top: 20px;
}


@media (max-width: 800px)
{
    #conteneur1
        {flex-direction: column-reverse;
        width: 100%;
        margin: auto;}
    .photocv {height: auto;
            width: 70%;
            max-width: 180px;
            margin: 20px auto;}
    h1 {font-size: 1.2em;}
    .name {border-width: 0px 0px 5px 0px;}
    .poste {margin-left: 20px;
            margin-right: 20px;}
    #conteneur2 {flex-direction: column-reverse;}
    .bleuclaire {width: 100%;}
    h3 {margin-right: 0px;}
    .h3rel, .h3com {margin-left: 10px;}
    #bureautique {width: auto;
                max-width: initial;
                min-width: unset;
                margin-left: 10px;}
    .logiciel {width: 75px}
    .langue {margin: 0;
            width: 72px}
    
    
    .formationsExperiences {width: 100%}
    dd { width: 175px}
    .formations, .experiences {width: 260px;}
    #formationsInter {width: 300px}
    #expInter {width: 300px;}
    .periode { margin-left: 10px;
            margin-right: -11px;}
    .diplome, .etablissement, .ville {width: 190px}
    footer {flex-direction: column-reverse}
}       
    


@media (min-width: 600px) and (max-width: 800px)
{ 

    #comRel 
    {display: flex;}
    #competencesInter {width: 90%;}
    #bureautiqueLangues {width: 300px;
                        margin: auto}
    #com, #rel
    {flex: 1;}
    .formationsExperiences {display: flex}
    .formations, .experiences {width: 250px}
    #formationsExter {width: 50%;}
    .h3rel, .h3com {width: 100%;
                    text-align: center;}
    #ulcom {margin: auto;
        max-width: 170px}

    
    
/* test */
#bureautiqueLangues {
    width:auto}
#bureautique 
    {margin-right: 40px}
#langues 
    {margin-left: 40px}
.ulBureautique >li, .ulLangues >li
{
  list-style: none;
  margin: 0;
    max-width: 105px;
}
.ulBureautique   
{
    column-width: 105px;
    column-fill: balance;
}
#bureautique
{
    flex: 12 200px;
}
#langues
{
    flex: 1 200px;
} 
.ulBureautique, .ulLangues
{
    padding: 0
}
.logiciel, .langue, .niveau
{
  display: inline-block;
  vertical-align: top;
}
.logiciel, .langue
{width: 75px;}
.niveau
{
    max-width: 24px;
}
/*test*/    
    
    
    
    
    
    
    
}
    
    
@media print {
    footer {padding: 12px 20px}
    #expInter { margin-bottom: 0px}
    abbr {text-decoration: none}

}
    
    
    
    
    
    
    